section .lang_grid {
  margin: 150px auto;
  width: 60%;
  display: flex;
}

section .lang_grid li {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  flex: 1;
}

section .lang_grid li a img {
  width: 100%;
  object-fit: contain;
}
section .who {
  display: inline-block;
}
