#profile-section {
  padding: 30px 0 0 0;
  background-color: #f2f4f5;
}

h2 {
  font-size: 250%;
  text-align: center;
  font-weight: bold;
}

.profile-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reverse .profile-introduce-wrap div {
  text-align: right;
}

.profile-introduce-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-wrap {
  height: 400px;
}

.profile-wrap .profile-introduce-wrap {
  width: 40%;
}

.profile-wrap .profile-photo-wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile-wrap .profile-photo-wrap .profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.profile-wrap .profile-photo-wrap #byeongyun {
  background-image: url(./images/byeongyun.webp);
}

.profile-wrap .profile-photo-wrap #jaeyoon {
  background-image: url(./images/jaeyoon.jpeg.crdownload);
}

.profile-wrap .profile-photo-wrap #seokjun {
  background-image: url(./images/seokjun.png);
}

.profile-wrap .profile-photo-wrap #seoungjun {
  background-image: url(./images/seoungjun.webp);
}

.github {
  cursor: pointer;
}

.github a svg:hover {
  transition: 0.7s;
  transform: scale(1.3);
}
