caption {
  caption-side: top;
  font-size: 30px;
  margin-bottom: 10px;
}
.compare_table {
  width: 100%;
  margin: 50px auto 0px;
  text-align: center;
  padding: 8px;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}
th {
  font-size: 25px;
  border: 1px solid black;
  padding: 10px;
}
td {
  padding: 10px;
  border: 1px solid black;
  font-size: 20px;
}
tr:nth-child(even) {
  background-color: aquamarine;
}
.box {
  width: 100%;
  margin: 30px auto;
}
.yellow.add {
  background-color: yellow;
}
h2 {
  font-size: 35px;
}
.box .interpret {
  font-size: 20px;
}
.box .interpret p {
  margin-bottom: 10px;
  line-height: 150%;
}
.box .compile {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 150%;
}

.box #build {
  font-size: 20px;
  line-height: 150%;
}

footer .footer_info {
  background-color: #31353f;
  color: grey;
  padding: 3px 25px;
  line-height: 25px;
}

#chartBox {
  position: relative;
  width: 20%;
  float: left;
  top: 20px;
  display: none;
}

#chartBox #chartImg {
  width: 100%;
}

#chart li {
  font-size: 20px;
  text-align: center;
}
#arrow {
  border: 3px solid blue;
}
#arrow:hover {
  color: red;
}
section {
  width: 60%;
  margin: 0 auto;
}
ul li:nth-child(1) {
  color: #448ff2;
}
ul li:nth-child(2) {
  color: #f23838;
}
ul li:nth-child(3) {
  color: #f29f05;
}
ul li:nth-child(4) {
  color: #37a652;
}
