caption {
  caption-side: top;
  font-size: 30px;
  margin-bottom: 10px;
}

section {
  width: 60%;
  margin: 50px auto 0px;
}

.compare_table {
  width: 100%;
  margin: 10px auto 0px;
  text-align: center;
  padding: 8px;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

.compare_table tr {
  display: flex;
}

.compare_table th {
  font-size: larger;
  border: 1px solid black;
  padding: 10px;
  flex: 1;
}

.compare_table td {
  font-size: large;
  border: 1px solid black;
  padding: 10px;
  flex: 1;
}

.compare_table tr:nth-child(even) {
  background-color: aquamarine;
}

.compare_table #arrow {
  cursor: pointer;
  box-shadow: 0 0 0 2px blue inset;
}

.compare_table #arrow:hover {
  color: red;
}

#etc_compare {
  margin: 15px 0;
}

#etc_compare #extra {
  font-size: large;
  cursor: pointer;
}

.box {
  width: 100%;
  margin: 30px auto;
  line-height: 25px;
}

.yellow.add {
  background-color: yellow;
}

h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.box .interpret p {
  margin-bottom: 10px;
}

.box .compile {
  margin-top: 20px;
  margin-bottom: 20px;
}

#chartBox {
  position: relative;
  width: 19%;
  float: left;
  top: 20px;
  display: none;
}

#chartBox #chartImg {
  width: 100%;
}

#chart li {
  font-size: 20px;
  margin: 0 auto;
  width: 120px;
}

ul li:nth-child(1) {
  color: #448ff2;
}

ul li:nth-child(2) {
  color: #f23838;
}

ul li:nth-child(3) {
  color: #f29f05;
}

ul li:nth-child(4) {
  color: #37a652;
}
