main {
  width: 60%;
  margin: 0 auto;
}

main iframe {
  display: block;
  margin: 10px auto;
}

main h1 {
  font-size: xxx-large;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  margin: 70px;
}

section {
  font-size: 17px;
  margin-top: 30px;
}

section h2 {
  font-size: 35px;
  text-align: center;
}

section p {
  line-height: 150%;
}

.framework-wrap {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px 0;
}

.framework-content {
  width: 450px;
  height: 300px;
  display: flex;
  border: 1px solid #dee2e6;
  border-radius: 5%;
}

.framework-content div:nth-child(1) {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
}

.framework-content div:nth-child(1) p {
  display: table-cell;
  padding: 0 20px;
}

.framework-content div:nth-child(2) {
  width: 35%;
  border-left: 1px solid #dee2e6;
}

.framework-content .thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.thumbnail:hover {
  background-color: yellow;
}

.framework-content #react {
  background-image: url(../images/react.png);
  background-size: 120%;
}

.framework-content #next {
  background-image: url(../images/next.png);
  background-size: 80%;
}

.framework-content #express {
  background-image: url(../images/express.png);
  background-size: 85%;
}

.framework-content #nest {
  background-image: url(../images/nest.png);
  background-size: 75%;
}

main #code_area {
  font-size: medium;
  max-width: 4000px;
  height: 540px;
  resize: vertical;
}
