main {
  width: 60%;
  margin: 50px auto;
}

@media (min-width: 1000px) {
  body > aside {
    width: 120px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: 50px;
    font-size: larger;
    font-weight: bold;
  }
}

body > aside ul li {
  line-height: 40px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

body > aside ul li a {
  font-weight: normal;
  color: blue;
}

body > aside ul li a:visited {
  color: blue;
}

body > aside ul li a:hover {
  text-decoration: underline 1px blue;
}

main iframe {
  float: left;
  margin: 0 10px 20px 0;
}

main h1 {
  font-size: xxx-large;
  font-weight: bolder;
  margin: 30px 0;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

main #history {
  clear: both;
  line-height: 25px;
}

main section {
  margin-top: 30px;
}

main section h2 {
  font-size: x-large;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

main section p {
  line-height: 25px;
}

.framework-wrap {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px 0;
}

.framework-content {
  width: 450px;
  height: 300px;
  display: flex;
  border: 1px solid #dee2e6;
  border-radius: 5%;
}

.framework-content div:nth-child(1) {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
}

.framework-content div:nth-child(1) p {
  display: table-cell;
  padding: 0 20px;
}

.framework-content div:nth-child(2) {
  width: 35%;
  border-left: 1px solid #dee2e6;
}

.framework-content .thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.thumbnail:hover {
  background-color: yellow;
}

.framework-content #react {
  background-image: url(../images/react.png);
  background-size: 120%;
}

.framework-content #next {
  background-image: url(../images/next.png);
  background-size: 80%;
}

.framework-content #express {
  background-image: url(../images/express.png);
  background-size: 85%;
}

.framework-content #nest {
  background-image: url(../images/nest.png);
  background-size: 75%;
}

main #code_area {
  font-size: medium;
  max-width: 4000px;
  height: 540px;
  resize: vertical;
}
