
main {
    width: 80%;
    margin: 100px auto;
}

main iframe {
    display: block;
    margin: 10px auto;
}

main header {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    margin: 70px;
}

main #history {
    border: 1px solid black;
    height: 200px;
}

main #characteristic {
    border: 1px solid black;
    height: 200px;
    margin: 10px 0;
    line-height: 120%;
}

main #code_area {
    font-size: medium;
    max-width: 4000px;
    height: 540px;
    resize: vertical;
}
