a {
    text-decoration: none;
}

header nav ul{
    display: flex;
    margin: 0 auto;
}

header nav ul li {
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    flex: 1;
}

main {
    width: 80%;
    margin: 100px auto;
}

main #history {
    border: 1px solid black;
    height: 200px;
}

main #characteristic {
    border: 1px solid black;
    height: 200px;
    margin: 10px 0;
    line-height: 120%;
}

main #code_area {
    font-size: medium;
    max-width: 4000px;
    height: 540px;
    resize: vertical;
}

footer .footer_info {
    background-color: #31353F;
    color: grey;
    padding: 3px 25px;
    line-height: 25px;
}